In [ ]:
CREATE OR REPLACE EXTERNAL TABLE 	dtc-de-course-414608.ny_taxi.green_taxi_external
OPTIONS (
  FORMAT='PARQUET',
  URIS=['gs://mage-zoomcamp-saken-serik/*']
)

In [ ]:
CREATE OR REPLACE TABLE ny_taxi.green_taxi_materialized
AS (
  SELECT * FROM "green_taxi_external"
)

In [ ]:
select count(*)
from 'dtc-de-course-414608.ny_taxi.green_data_external'

In [ ]:
select count(distinct PULocationID)
from 'dtc-de-course-414608.ny_taxi.green_data_external'

In [ ]:
select count(distinct PULocationID)
from 'dtc-de-course-414608.ny_taxi.green_data_external'